General styles
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #f9fbfc;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

svg {
  width: 1.5rem;
}

img {
  max-width: 20rem;
}

/* Header */
header{
  display: flex;
  flex-direction: column;
  background: #1a9fb5;
  position: relative;
  z-index: 1;
  }

  header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  /* needs adjustment */
    /* needs adjustment */
      /* needs adjustment */
  clip-path: polygon(0 100%, 100% 50%, 100% 100%);
      /* needs adjustment */
    /* needs adjustment */
  /* needs adjustment */

  z-index: -1;
}

.image-container {
  width: 100%;
  position: relative;
  /* background: #1a9fb5; */
}

#profile-image {
  width: 100%;  
  /* max-width: 20rem;          */
  aspect-ratio: 3 / 4; 
  background-image: url('images/portrait.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
}
#name {
    position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%);
  margin: 0;
  color: #fff;
  text-shadow: 0 2px 6px rgba(0,0,0,0.6);
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-align: left;
}

.content-container {
  padding: 1.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.about-container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}



.about-container h2 {
    font-family: "Playfair Display", 'Times New Roman', Times, serif;
    font-weight: 200;
    margin: 0.9rem 0;
    font-size: 2rem;
}

.about-container p {
  margin: 0;
  margin-bottom: 0.9rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.75);
  text-align: left;
}

.about-container .social-container {
  display: flex;
  justify-content: center;
  gap: 1rem
}

.social-container svg {
  width: 1.3rem;
}


/* Footer */
.attribution {
  text-align: center;
  width: 100%;
  padding-bottom: 0.3rem;
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.attribution a {
  margin-left: 0.3rem;
}
